*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

html, body{
  height: 100%;
}

body{
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #313135;
}

body > .main{
    position: relative;
    margin: auto;
    width: clamp(700px, 100vh, 781px);
    aspect-ratio: ;
    display: flex;
    flex-direction: column;
    background: #363F63;
    border-radius: 25px;
    overflow: hidden;
    font-family: 'Montserrat', Sans-Serif;
}

header{
    width: 100%;
    padding: 0.5rem;
    margin: 0 0 1.5rem;
    text-align: center;
    background: #8CA6DB;
    color: white;  
}

.gamersInfo{
    width: 100%;
    height: 5em;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  margin: 0 0 0.5rem;
  overflow: scroll;
}

.playerInfo{
  position: relative;
  height: 100%;
  min-width: 40%;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 0 0.5rem;
}

.drawInfo{
  color: #8CA6DB;
  font-weight: bold;
  transform: translateY(-10px);
}

.playerInfo > .playerCharacter{
    position: absolute;
    bottom: 0;
    width: 1em;
    line-height: 1em;
    display: flex;
    justify-content: center;  
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    background: #ffffff;
}

.playerInfo > .playerMain{
    width: 60%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.playerName{
  margin: 0 0 0.5rem;
}

.score{
  font-size: 1.5rem;
}

.gameMain{
    width: 100%;
    margin: 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gameMain > .board{
    width: 15rem;
    height: 15rem;
    padding: 5px;
    font-size: 30px;
    backgroud: #8CA6DB;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.cell{
    height: 100%;
    width: 100%;
    background: #313135;
    border-radius: ;
    display: flex;
    align-items: center;
    justify-content: center;
}

#personCharacter{
  left: 0;
}

#botCharacter{
  right: 0;
}

.gameStatusBox{
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 2rem;
}

hr{
  border: solid 1px #313135;
  width: 100%;
  justify-self: center;
  margin: 0 0 0.5rem;
}

.round{
  font-size: 1.2rem;
  color: #8CA6DB;
}

#gameStatus{
  min-height: 1em;
  margin: 0 0 0.5rem;
  font-size: 1.75rem;
}

.setCharacter{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#characterError{
  display: none;
  width: 100%;
  padding: 1rem;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  color: #fff;
}

.setCharacter > .main{
    width: 15rem;
    height: 10rem;
    border-radius: 10px;
    background: #8CA6DB;
    color: #FFFFFF;
}

.setCharacter .title{
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.setCharacter .buttons{
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons button{
    width: 50%;
    height: 100%;
    border: none;
    background: #363F63;   
    font-size: 40px;
}

.setCharacter #x{
  color: #DD3C3C;
}

.setCharacter #o{
  color: #3CDD8C;
}

.setCharacter .start{
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.start button{
    height: 100%;
    border: none;
    border-radius: 0px 0px 10px 10px;
    color: #363F63;
    background: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.start button:active{
  color: #fff;
  background: #363F63;
}

footer{
  font-family: Sans-Serif;
  font-size: 0.75rem;
  color: #8CA6DB;
  padding: 1rem;
}